<!-- Sidebar Menu -->
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">DlApplication</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href={% url "file-loader:output-list" %}><i class="fa fa-list"></i><span>Output List</span></a></li>
    <li class="active"><a href={% url "file-loader:upload" %}><i class="fa fa-file-text-o"></i><span>Upload Files</span></a></li>
    <li class="active"><a href={% url "hierarchy:hierarchy_upload" %}><i class="fa fa-archive"></i><span>Upload Hierarchy</span></a></li>
    <li class="active"><a href={% url "hierarchy:hierarchy_consult" %}><i class="fa fa-search"></i><span>Consult Hierarchy</span></a></li>
    <li class="active"><a href={% url "logout" %}><i class="fa fa-sign-out"></i><span>Logout</span></a></li>
</ul>
<!-- /.sidebar-menu -->hierarchy_consult