/*! project specific CSS goes here. */
.green{
    color: green,
}

.red{
    color: red;
}

.table-bordered tr th{
    border-top: 1px solid #0c0c0c !important;
    border-bottom: 1px solid #0c0c0c !important;
}

.table-bordered tr td{
    border-top: 1px solid #0c0c0c !important;
    border-bottom: 1px solid #0c0c0c !important;
}