{% extends "base.html" %}

{% block content-title %}
    Results:
{% endblock content-title %}

{% block content %}
<div class="box box-success">
    <div class="box-body table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Creator
                    </th>
                    <th>
                        Created date
                    </th>
                    <th>
                        File name
                    </th>
                    <th>
                        Search type
                    </th>
                    <th>
                        Search value
                    </th>
                    <th>
                        Output text
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for o in output %}
                    <tr>
                        <td>
                            <p>{{o.owner}}</p>
                        </td>
                        <td>
                            <p>{{o.date}}</p>
                        </td>
                        <td>
                            <p>{{o.file_name}}</p>
                        </td>
                        <td>
                            <p>{{o.search_type}}</p>
                        </td>
                        <td>
                            <p>{{o.search_value}}</p>
                        </td>
                        <td width="70%">
                            <p>{{o.output_text}}</p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        Creator
                    </th>
                    <th>
                        Created date
                    </th>
                    <th>
                        File name
                    </th>
                    <th>
                        Search type
                    </th>
                    <th>
                        Search value
                    </th>
                    <th>
                        Output text
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock content %}

{% block js %}
    <script>
        $('.table').DataTable();
    </script>
{% endblock js %}