{% extends "base.html" %}
{% load static bootstrap3 %}

{% block css %}
    <link rel="stylesheet" href={% static "plugins/bootstrap-fileinput/css/fileinput.min.css" %}>
    <link rel="stylesheet" href={% static "plugins/bootstrap-fileinput/css/fileinput-rtl.min.css" %}>
{% endblock css %}

{% block content-title %}
    Upload Files
{% endblock content-title %}

{% block content %}
    <div class="box box-info">
        <form method="POST" enctype="multipart/form-data">
            <div class="box-body">
                {% bootstrap_field form.file %}
                <div class="row">
                    <div class="col-lg-6">
                        {% bootstrap_field form.search_for layout='horizontal' %}
                    </div>
                    <div class="col-lg-6">
                        {% bootstrap_field form.number layout='horizontal' %}
                    </div>
                </div>
                <hr>
                <button type="submit" class="btn btn-success pull-right">
                    Submit
                </button>
            </div>
        </form>
    </div>
{% endblock content %}

{% block js %}
    <script src={% static "plugins/bootstrap-fileinput/js/fileinput.min.js" %}></script>
    <script>
        $("#id_file").fileinput({
            uploadUrl: "{% url 'file-loader:upload' %}",
            uploadAsync: false,
            allowedFileExtensions: ["docx", "txt", "pdf"],
            showUpload: false,
        });
        $('select').select2();
    </script>
{% endblock js %}